<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Titulo Base{% endblock %} </title>

	{% block style_css%}<link rel="stylesheet" href="/media/css/reset.css">{% endblock style_css%}
	{% block reset_css%}<link rel="stylesheet" href="/media/css/style.css">{% endblock reset_css%}

</head>
<body>
	


<header>


 	
	<nav>

	<a href="{% url vista_principal %}">inicio</a>
	<a href="{% url vista_productos %}">productos</a>
	<a href="{% url vista_contacto %}">contacto</a>
	<a href="{% url vista_about %}">Acerca de </a>
	<a href="{% url vista_agregar_producto %}">Agregar producto</a>

</nav>



</header>


	<div class="hoja">
		<div class="contact">
			

			<img src="https://twimg0-a.akamaihd.net/profile_images/2259419136/392372_469777746381104_100000466478252_1883117_1370405741_n_reasonably_small.jpg" width="80" alt="">
			<ul class="contact_data">
				<li>Omar Hernan</li>
				<li>@omr_bnd</li>
				<li>Front-end and Back-end developer.#PYHON, #DJANGO ,#CSS3 , #JAVASCRIPT ,#JAVA, #MYSQL, #PHP, #HTML5, #JQUERY ,#JSON ,AJAX, #GIT, #C ,#ST2</li>
			</ul>
		</div>
		<!-- 	<img src="/media/img/django.gif" alt=""> -->
			

			<h1>Proyecto demo (Venta de productos)</h1>

			<div class="path">{% block path %}  Ubicacion  {% endblock path %}  </div>

	</div>

<section>
	
 
			{% block content %}

			{% endblock content %}


</section>


</body>
</html>